.top-wrapper{
  margin-top: 80px;
  background-image: linear-gradient(135deg,#ff690f 5%,#4169E1 95%);
  height: 130px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}
.bottom-wrapper{
  height: 600px;
  display:flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about p{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.about h2{
  position: relative;
  top:40%;
  transform: translateY(-50%);
}



body {
  background-image: url();
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.submit{
  background-color: whitesmoke;
  opacity: .9;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  width: 85px;
  height: 54px;
  border-style: none;
  border-radius: 2px;
}
.input-field::placeholder{
  color: black;
}
.input-field {
  background-color: whitesmoke;
  opacity: .5;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  width: 255px;
  height: 54px;
  border-radius: 2px;
}

.input-field:focus {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about {
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: white;
  height: 600px;
  text-transform: uppercase;
  width: 500px;
  order: 2;
}

.products {
  color: white;
  background-image: url(alex-knight-199368-unsplash.jpg);
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: white;
  height: 600px;
  width: 500px;
  order: 1;
}
.mission {
  color:white;
  background-image: url(working.jpg);
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: white;
  height: 600px;
  width:500px;
  order: 3;
}
h1{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1000px) {
  .top-wrapper{
    margin-top: 80px;
    background-image: linear-gradient(135deg,#ff690f 5%,#4169E1 95%);
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
    .submit{
      background-color: whitesmoke;
      opacity: .9;
      color: black;
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      text-align: center;
      width: 255px;
      height: 54px;
      border-style: none;
      border-radius: 2px;

  }

}
