.top-wrapper{
  height: 300px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}
.bottom-wrapper{
  height: 600px;
  display:flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

.about p{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.about h2{
  position: relative;
  top:40%;
  transform: translateY(-50%);
}



body {
  background-image: url();
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.input-field {
  background-color: whitesmoke;
  opacity: .8;
  color: #555;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  width: 270px;
  height: 65px;
  border-radius: 5px;
}

.input-field:focus {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about {
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: white;
  height: 600px;
  text-transform: uppercase;
  width: 500px;
  order: 2;
}

.products {
  color: white;
  background-image: url(alex-knight-199368-unsplash.jpg);
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: white;
  height: 600px;
  width: 500px;
  order: 1;
}
.mission {
  color:white;
  background-image: url(working.jpg);
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: white;
  height: 600px;
  width:500px;
  order: 3;
}
h1{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
